.parent {
  width: 50px;
  aspect-ratio: 1;
  //background: lightblue;
  border-radius: 50%;

  position: relative;
}

.clock-line {
  //height: 10%;
}

.circle {
  --sixe: 20px;
  position: absolute;
  height: var(--sixe);
  line-height: var(--sixe);
  width: var(--sixe);
  border-radius: 40px;
  text-align: center;
  font-size: 16px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  span {
    position: relative;
    z-index: 10000;
  }

  &.active {
    color: white;
    &::before {
      content: " ";
      background-color: #b7004c;
      height: calc(var(--sixe) + 16px);
      width: calc(var(--sixe) + 16px);
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
    &.showDot {
      span {
        &::after {
          content: "";
          background-color: white;
          //color: white;
          position: absolute;
          height: 3px;
          width: 3px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

    }
  }

  //--size: 25px;
  //--offset: 100px;
  //width: var(--size);
  //aspect-ratio: 1;
  //border-radius: 50%;
  //background-color: orangered;
  //position: absolute;
  //left: calc(var(--size) / 2);
  //top: calc(var(--size) / 2);
  //transform: translate(
  //  calc(cos(var(--degrees)) * var(--offset)),
  //  calc(sin(var(--degrees)) * var(--offset))
  //);
}

//$total: 60;
//@for $i from 0 through ($total - 1) {
//  .circle:nth-of-type(#{$i + 1}) {
//    --degrees: calc(#{$i} * (360deg / #{$total}));
//  }
//}
