solid-date-picker/node_modules
simple-datejs/node_modules
node_modules

solid-date-picker/dist
simple-datejs/dist
dist

time-picker
solid-date-picker/time-picker

.env

types
solid-date-picker/types

stats.html
solid-date-picker/stats.html

tsconfig.tsbuildinfo
simple-datejs/tsconfig.tsbuildinfo
solid-date-picker/tsconfig.tsbuildinfo

.DS_Store

themes
solid-date-picker/themes


gulpfile.js
solid-date-picker/gulpfile.js

datepicker.css
solid-date-picker/datepicker.css

datepicker2.css
solid-date-picker/datepicker2.css

style.css
solid-date-picker/style.css

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
