@use "src/styles/colors" as *;

.text-input {
  .text-input-area {



    .padding-top {
      padding-top: 0.8em;
    }
    .form-active:not(:empty) + .input {
      @extend .padding-top;
    }
    .has-value:not(:empty) + .input {
      @extend .padding-top;
    }


    .input {
      padding-right: 2.4rem;
      width: 100%;
      position: relative;

      &.dashboard {
        height: 2rem;
        padding-right: 1.375rem;
      }

      &.filter {
        height: 1.75rem;
        padding-left: 0.5rem;
        padding-inline: 0.625rem;
        font-size: 0.75rem;
        color: var(--gray-800-200);
        border-radius: 32px;
      }

      &.remove-border {
        border: none;
      }

      &.search {
        border-radius: 1rem;
      }

      &.iconBefore {
        text-indent: 26px;
      }

      &::placeholder {
        transition: opacity 0.15s ease-out;
        color: var(--input-placeholder-color);
      }

      &:disabled {
        pointer-events: none;
      }

      &[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        -moz-appearance: textfield;
      }
    }

    .input-icon-wrapper {
      position: relative;
      position: absolute;
      top: 50%;
      right: 0rem;
      transform: translate(0, -50%) rotate(0deg);
      cursor: pointer;
      user-select: none;
      height: 100%;
      display: flex;
      align-items: center;
      width: 2.4rem;

      &.dashboard {
        width: 1.375rem;

        .input-icon {
          font-size: 1rem;
        }
      }

      &.phosphor-icon {
        padding-top: 0.4rem;
      }

      .input-icon-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 0, 0, 0);
        cursor: pointer;
      }

      .input-icon {
        font-size: 1.3rem;
        color: var(--body-text-color);
        align-items: center;

        &.form-active {
          color: $gray-700;
        }

        &.has-error {
          color: $red-400;
        }

        &.disabled {
          color: $gray-600;
        }

        &.search {
          font-size: 1rem;
        }

        &:empty {
          display: none;
        }
        &.phosphor-Icon:empty {
          display: block;
        }
      }
    }

    .input-icon-wrapper-before {
      @extend .input-icon-wrapper;
      left: 16px;
      width: 2.4rem;
      max-width: fit-content;
      z-index: 1;
    }
  }

  .helper-text {
    display: block;
    margin-left: 1rem;
    font-size: 12px;
    color: $gray-600;

    &.has-error {
      color: $red-400;
    }

    &:empty {
      display: none;
    }
  }
}
