.date-picker-input {
  width: 100%;
  .inputClass {
    height: 32px;
    background: var(--event-background-white);
  }

  ::placeholder {
    color: var(--dashboard--text-gray-400);
  }
}

.portal {
  max-width: 20rem;
  width: 100%;
  position: fixed;
  z-index: 101;
}
