.date-picker {
  background-color: var(--dashboard-background-color);
  max-width: 20rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 0.625rem 0 1.5rem 0;

  button {
    min-width: 0;
    background-color: transparent;
    border: none;
    transition: none;

    &:focus,
    &:active,
    &:hover {
      background: transparent;
    }
  }

  .top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0.3125rem 0;

    button {
      color: var(--body-text-color);
      padding: 0 0.6rem;
    }

    .month-year-area {
      display: flex;
    }
    .month-select-menu {
      border-radius: 0;
      background-color: var(--dashboard-content-background-color);

      .month-select-option {
        height: 1.875rem;
        border-radius: 0;
        color: var(--body-text-color);
        padding: 0 0.6rem;
      }
    }

    .month-select-container {
      width: fit-content;
      .month-select-wrapper {
        width: fit-content;
        .month-select-icon-wrapper {
          display: none;
        }
        .month-select {
          background-color: transparent;
          padding: 0;
          min-width: 0;
          border: none;
          height: 100%;
          text-align: center;
          width: 6.5rem;
          font-size: 1rem;
          line-height: 1.375rem;
          letter-spacing: 0.02em;
          color: var(--body-text-color);

          &.selected-option-year {
            width: 4rem;
          }
        }
      }
    }
  }

  .week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    margin: 0.5rem 0;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--body-text-color);
    padding: 0 1rem;
    row-gap: 1rem;

    .heading {
      font-size: 0.625rem;
      line-height: 0.875rem;
      font-weight: 700;
      color: #909090;
      letter-spacing: 0.02em;
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .days-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      &.day-range-start,
      &.day-range-end {
        .days {
          background-color: var(--primary);
          border: 1px solid var(--primary-500);
          color: white;

          &.days-in-active {
            color: white;
          }
        }
      }

      &.day-range-start-end {
        &.day-range-start {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 15%;
            width: 85%;
            height: 100%;
            border-radius: 50% 0 0 50%;
            background-color: rgba(86, 164, 211, 0.5);
          }

          .days {
            position: relative;
          }

        }

        &.day-range-end {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 15%;
            width: 85%;
            height: 100%;
            border-radius: 0 50% 50% 0;
            background-color: rgba(86, 164, 211, 0.5);
          }
          .days {
            position: relative;
          }
        }
      }

      &.day-range-between {
        background-color: rgba(86, 164, 211, 0.5);

        .days {
          color: var(--date-picker-inbetween-color);

          &.days-in-active {
            color: var(--date-picker-inbetween-color);
          }
        }
      }

      &.days-current {
        .days {
          border: 1px dashed var(--body-text-color);
        }

      }

      .days {
        text-align: center;
        color: var(--body-text-color);
        height: 2rem;
        width: 2rem;
        font-size: 0.9375rem;
        padding: 0;
        &.days-in-active {
          color: var(--body-text-color);
          opacity: 0.5;
        }



        &:disabled {
          color: var(--body-text-color);
          opacity: 0.3;
        }
      }
    }
  }
}
