@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --date-picker-before-bg: #aad1e9;
  --date-picker-before-color: #0277bd;
  --date-picker-hover-color: #d2d4d7;
}

.date-picker-day-number-area::before {
  background-color: var(--date-picker-before-bg);
  color: var(--date-picker-before-color);
}

.date-picker-main-btn:hover {
  background-color: var(--date-picker-hover-color);
}

.dark,
[data-theme="dark"] {
  --date-picker-before-bg: #335a72;
}
