@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --before-bg: #AAD1E9;
  --before-color: #0277bd;
  --hover-color: #d2d4d7;
}

.date-picker-day-number-area::before {
  background-color: var(--before-bg);
  color: var(--before-color);
}

button:hover {
  background-color: var(--hover-color);
}


.custom-input {
  display: flex;
  align-items: center;
}


.custom-input input {
  width: 100%;
  padding-inline: 3px;
  border: 1px solid black;
}

.custom-input button {
  background-color: rgb(204, 204, 204);
  padding: 0.1rem 0.3rem;
}

.top-area {
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.top-area h6 {
  text-decoration: underline;
}

.side-area {
  display: flex;
  place-items: center;
  height: 100%;
}


.bottom-area {
  display: grid;
  place-items: center;
}

