@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --before-bg: #aad1e9;
  --before-color: #0277bd;
  --hover-color: #d2d4d7;
}

.date-picker-day-number-area::before {
  background-color: var(--before-bg);
  color: var(--before-color);
}

.date-picker-main-btn:hover {
  background-color: var(--hover-color);
}

.dark {
  --before-bg: #335a72;
}
